.App {
  text-align: center;
}

.talent-row {
  width:50%;
  display:flex;
  justify-content: space-around;
  padding-bottom: 1vh;
}

.talent-icon {
  width:55px;
  height:55px;
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.talent-ranks-box {
  background: black;
  width:50%;
  height:30%;
  font-size:12px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.epic {
  color:purple;
}

.legendary {
  color:orange;
}

.equipment-cont {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items:flex-start;
  height:40vh;
}

.item-icon {
  width:57px;
  height:57px;
  border:3px solid purple;
  font-size:10px;
}

.item-cont {
  display:flex;
  justify-content: flex-start;
}


.spec-glyph-cont {
  border:1px solid white;
  border-radius: 5px;
  width:25vw;
}

.ranking-table {
  border:2px solid black;
  border-radius:1%;
}

.char-link {
  text-decoration: none;
  color: rgb(0, 229, 255);
}

.char-link:visited {
  color: rgb(0, 229, 255);
}


.button-bar {
  background-color: #797979;
  padding:0.2%;
  border-radius:5%;
  border:2px solid black;
  margin-bottom: 1%;
  width:30%;
}

.button-bar > button {
  background-color: #282c34;
  color: rgb(0, 229, 255);
  width:20%;
  cursor:pointer;
}

.button-bar > button:hover {
  background-color: rgb(23, 46, 70);
  border-color: white;
}

.char-data-cont {
  width:75%;
}

.spec-cont {
  display:flex;
  justify-content: space-evenly;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.ranking-table {
  width: 50vw;
}

.button-bar {
  display: flex;
  gap:2vw;
}

.even-row {
  background-color: rgb(81, 81, 84);
}