.App {
  text-align: center;
}

.weapon-cont {
  display:flex;
}

.right-armor-cont {
  display:flex;
  flex-direction: column;
  align-items: end;
  gap:10px;
}

.left-armor-cont {
  display:flex;
  flex-direction: column;
  align-items:start;
  gap:10px;
}

.item-cont {
  display:flex;
  justify-content: flex-start;
}

.right {
  display:flex;
  justify-content:flex-end;
  width:700px;
}

.armor-cont {
  width:45vw;
  height:50vh;
  display:flex;
  justify-content: space-between;
}

.full-talent-cont {
  width:910px;
}

.spec-display-toggle-cont {
  display:flex;
  justify-content: space-between;
  margin-bottom:1px;
}

.spec-button {
  width:150px;
  height:50px;
  background-color: rgb(91, 76, 123);
  color:white;
  border: 2px solid black;
  border-radius: 5px;
}

.spec-button:hover {
  cursor:pointer;
  background-color: rgb(73, 52, 123);
}


.talent-tree-container {
  display:flex;
  justify-content: space-around;
  padding-top:5px;
  width:900px;
  background-color: rgb(91, 76, 123);
  border:5px solid black;
}

.glyph-cont {
  display:flex;
  align-items: center;
  justify-content: flex-start;
  width:250px;
  font-size:16px;
  font-weight: 700;
  height:58px;
  background-color: rgb(91, 76, 123);
  border-radius:5px;
  border:2px solid black;
  box-shadow:3px 3px rgb(7, 7, 7);
  color:white;
}

.glyphs-cont {
  background-color:bisque;
  color: black;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  align-items: center;
  gap:5px;
  width:900px;
  height:150px;
  border:5px solid black;
  border-width:0px 5px 5px 5px;
  
}

.spec-container {
  width:250px;
  padding: 0px 25px;
  border-left: 2px solid black;
  font-size:24px;
}

.inactive-talent {
  filter: grayscale(100%);
}

.talent-row {
  width:100%;
  display:flex;
  justify-content: space-around;
  padding-bottom: 1vh;
}

.talent-icon {
  width:55px;
  height:55px;
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
  box-shadow:3px 3px rgb(7, 7, 7);
}

.talent-ranks-box {
  background: black;
  width:50%;
  height:30%;
  font-size:12px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.epic {
  color:purple;
}

.legendary {
  color:orange;
}

.equipment-cont {
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  align-items:center;
  height:60vh;
  width:45vw;
}

.item-icon {
  width:57px;
  height:57px;
  border:3px solid purple;
  font-size:10px;
}




.spec-glyph-cont {
  border:1px solid black;
  border-radius: 5px;
  width:50vw;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.ranking-table {
  border:2px solid black;
  border-radius:1%;
}

.char-link {
  text-decoration: none;
  color: rgb(0, 229, 255);
}

.char-link:visited {
  color: rgb(0, 229, 255);
}


.button-bar {
  background-color: #797979;
  padding:0.2%;
  border-radius:5%;
  border:2px solid black;
  margin-bottom: 1%;
  width:30%;
}

.button-bar > button {
  background-color: #282c34;
  color: rgb(0, 229, 255);
  width:20%;
  cursor:pointer;
}

.button-bar > button:hover {
  background-color: rgb(23, 46, 70);
  border-color: white;
}

.char-data-cont {
  width:75vw;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.spec-cont {
  display:flex;
  justify-content: space-evenly;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.ranking-table {
  width: 50vw;
}

.button-bar {
  display: flex;
  gap:2vw;
}

.even-row {
  background-color: rgb(81, 81, 84);
}